# ========================
# Node
# ========================
node_modules/

# ========================
# Build / Output
# ========================
dist/
build/
coverage/

# ========================
# Environment variables
# ========================
.env
.env.*
!.env.example

# ========================
# Prisma
# ========================
generated/
.prisma/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# Temporary files
# ========================
.tmp/
.temp/